<html>
<head>
    <title> Introduce My Self </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1,h2,h3,h4,h5,h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}
</style>
<body>

<div class="w3-top">

    <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
        <!-- Right-sided navbar links. Hide them on small screens -->
                <a href="/lab2" class="w3-bar-item w3-button">Home</a>
        <div class="w3-right w3-hide-small">
            <a href="#about" class="w3-bar-item w3-button">About</a>
            <a href="#menu" class="w3-bar-item w3-button">My Favourite</a>
            <a href="#contact" class="w3-bar-item w3-button">Contact</a>
        </div>
    </div>
</div>
<center><br><br><br>

    <div class="w3-content" style="max-width:1100px">

        <!-- About Section -->
        <div class="w3-row w3-padding-64" id="about">
            <div class="w3-col m6 w3-padding-large w3-hide-small">
                <img src="/assets/images/okawari.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
            </div>

            <div class="w3-col m6 w3-padding-large">
                <h1 class="w3-center">About Okawari</h1><br>
                <h5 class="w3-center"> Proprapob Auchanya </h5>
                <p class="w3-large"> My name is Proprapob Auchanya. My nickname is Oak . But My best friends call me Okawari.
                    I'm 22 years old. My birthday is 17 August 1996. I come from Thailand.
                    I live in khonkaen with my family. In my family have father mother and me.
                    I study at rajamangala university of technology isan. In my life I have
                    congenital disease is Thalassemia. every month i will go to hospital to see doctor. It's pain and sadness in my life.
                    But I never surender.I'm funny guy. I really like to play computer games and listen music.
                My favourite bands is Back number and Rei Yasuda. I really loved this song - Mabataki. And I like to watch
                anime. it's relax. Favourite food is Everything!.  </p>
        </div>
        </div>

        <hr>

        <!-- Menu Section -->
        <div class="w3-row w3-padding-64" id="menu">
            <div class="w3-col l6 w3-padding-large">
                <h1 class="w3-center">My Favourite</h1><br>
                <h4>Sports</h4>
                <p class="w3-text-grey">I'm play Basketball every friday.</p><br>

                <h4>Games</h4>
                <p class="w3-text-grey">I really love to play Bayonetta and Chat Discord.</p><br>

                <h4>Foods</h4>
                <p class="w3-text-grey">I like to eat Everything!!!</p><br>

            </div>

            <div class="w3-col l6 w3-padding-large">
                <img src="/assets/images/my computer.jpg" class="w3-round w3-image w3-opacity-min" alt="Menu" style="width:100%">
            </div>
        </div>

        <div class="w3-container w3-padding-64" id="contact">


                <div class="w3-col m6 w3-padding-large w3-hide-small">
                    <img src="/assets/images/wallpaper/okawari2.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
                </div>

                <div class="w3-col m6 w3-padding-large">
                    <h1 class="w3-center">Follow Okawari</h1><br>

                    <p class="w3-large"> Facebook </p>
                    <p class="w3-text-grey"> facebook.com/oakkydearest </p>
                    <p class="w3-large"> Instagram </p>
                    <p class="w3-text-grey"> instagram.com/okawari.oak </p>
                    <p class="w3-large"> Join My Discord </p>
                    <p class="w3-text-grey"> discordapp.com/invite/eQfcpmy </p>
                    <p class="w3-large"> Telephone </p>
                    <p class="w3-text-grey"> 083-4163xxx </p>
                </div>
            </div>

            <hr>
    </div>
</center>
</body>
</head>
</html>